{% if site.footer-links.email %}
  <a class="btn btn-social btn-simple"
      href="mailto:{{ site.footer-links.email }}">
    <i class="material-icons">email</i>
  </a>
{% endif %}

{% if site.footer-links.facebook %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <i class="fa fa-facebook"></i>
  </a>
{% endif %}

{% if site.footer-links.flickr %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <i class="fa fa-flickr"></i>
  </a>
{% endif %}

{% if site.footer-links.github %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://github.com/{{ site.footer-links.github }}">
    <i class="fa fa-github"></i>
  </a>
{% endif %}

{% if site.footer-links.instagram %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://instagram.com/{{ site.footer-links.instagram }}">
    <i class="fa fa-instagram"></i>
  </a>
{% endif %}

{% if site.footer-links.linkedin %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="fa fa-linkedin"></i>
  </a>
{% endif %}

{% if site.footer-links.pinterest %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
    <i class="fa fa-pinterest"></i>
  </a>
{% endif %}

{% if site.footer-links.rss %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="{{ site.baseurl }}/feed.xml">
    <i class="fa fa-rss"></i>
  </a>
{% endif %}

{% if site.footer-links.twitter %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <i class="fa fa-twitter"></i>
  </a>
{% endif %}

{% if site.footer-links.stackoverflow %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <i class="fa fa-stackexchange"></i>
  </a>
{% endif %}

{% if site.footer-links.youtube %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="fa fa-youtube"></i>
  </a>
{% endif %}

{% if site.footer-links.googleplus %}
  <a class="btn btn-social btn-simple" target="_blank"
      href="https://plus.google.com/{{ site.footer-links.googleplus }}">
    <i class="fa fa-google-plus"></i>
  </a>
{% endif %}
