<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3481908664466605",
              enable_page_level_ads: true
         });
    </script>
  </head>

<body>

  {% include nav.html %}

  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/bg3.jpeg');">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-6 col-md-offset-3">
  					<h1 class="title text-center"></h1>

            {% include search.html %}
  				</div>
  			</div>
  		</div>
  	</div>

    <div class="main main-raised">
        <div class="section">
  		      <div class="container">
                  <h1 class="title text-center">
                    {{page.title}}
                  </h1>

                  <span class="meta">
                     Criado em: {{ page.date | date: "%d/%m/%Y" }}
                  </span>

                  <br />
                  <br />

  			         {{ content }}
  		      </div>
  	   </div>
    </div>

    {% include footer.html %}
  </div>

  {% include analytics.html %}

  {% include javascript.html %}
</body>
</html>
