<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

<body>

  {% include nav.html %}

  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/bg3.jpeg');">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1 class="title text-center"></h1>
            {% include search.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="section">
        <div class="container">

          {%- assign months_pt = "Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez" | split: "," -%}
          {%- assign mi = page.date | date: "%m" | minus: 1 -%}

          <article class="post blog-detail"
            data-article-id="{{ page.date | date: '%Y' }}-{{ page.slug | escape }}"
            data-article-name="[Blog] {{ page.title | escape }}"
            data-article-category="blog"
            data-article-author="{{ page.author | default: site.name | escape }}"
            data-article-publish-date="{{ page.date | date: '%Y-%m-%d' }}"
            data-article-description="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.content | strip_html | strip_newlines | strip | truncate: 200 | escape }}{% endif %}"
            data-article-tags="{{ page.tags | join: ',' | escape }}"
            data-article-topics="{{ page.topics | join: ',' | escape }}">

            <header class="blog-detail-header">
              <a class="blog-detail-back" href="{{ site.baseurl }}/blog/">
                <i class="material-icons">arrow_back</i>
                Voltar para o blog
              </a>

              <div class="blog-detail-date">
                <i class="material-icons">event</i>
                {{ page.date | date: "%d" }} {{ months_pt[mi] }} {{ page.date | date: "%Y" }}
              </div>

              <h1 class="blog-detail-title">{{ page.title }}</h1>

              {% if page.author and page.author != '' %}
                <div class="blog-detail-author">
                  <i class="material-icons">person</i>
                  {{ page.author }}
                </div>
              {% endif %}

              {% if page.topics and page.topics.size > 0 %}
                <div class="blog-detail-topics">
                  {% for t in page.topics %}
                    {%- assign topic_label = site.data.topics.topics[t] | default: t -%}
                    <span class="topic-chip topic-chip-blog">{{ topic_label }}</span>
                  {% endfor %}
                </div>
              {% endif %}

              {% if page.tags and page.tags.size > 0 %}
                <div class="blog-detail-tags">
                  {% for tag in page.tags %}
                    <span class="blog-card-tag">#{{ tag }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </header>

            <div class="entry blog-detail-body">
              {{ content }}
            </div>

            <br />
            {% include disqus.html %}
          </article>

        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

  {% include analytics.html %}
  {% include javascript.html %}
</body>
</html>
