<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

{% include nav.html %}

<div class="wrapper">
  <div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/bg3.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
          <h1 style="color: white;">{{page.title}}</h1>
          <span style="color: white;" class="meta">
             Criado em: {{ page.date | date: "%d/%m/%Y" }}
          </span>
				</div>
			</div>
		</div>
	</div>
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main">
		<div class="container">

			{{ content }}

		</div>
	</div>

  <footer class="footer footer-transparent">
      <div class="container">
          <nav class="pull-left">
            <ul>
              <li>
                &copy; 2017
              </li>
            </ul>
          </nav>
          <div class="social-area pull-right">
            {% include svg-icons.html %}
          </div>

      </div>
  </footer>
</div>

    {% include analytics.html %}
  </body>
  {% include javascript.html %}
</html>
