---
layout: career-layout
---

<article class="post"
         data-article-id="{{ page.url | remove: '/' | escape }}"
         data-article-name="{{ page.title | escape }}"
         data-article-category="career"
         data-article-author="{{ page.author | default: site.name | escape }}"
         data-article-publish-date="{{ page.date | date: '%Y-%m-%d' }}"
         data-article-description="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.content | strip_html | strip_newlines | strip | truncate: 200 | escape }}{% endif %}"
         data-article-tags="{{ page.tags | join: ',' | escape }}"
         data-article-company="{{ page.company | default: '' | escape }}"
         data-article-start-date="{{ page.date | date: '%Y-%m-%d' }}"
         data-article-end-date="{% if page.end and page.end != '' %}{{ page.end | date: '%Y-%m-%d' | escape }}{% endif %}"
         data-article-location="{{ page.location | default: '' | escape }}"
         data-article-industry="{{ page.industry | default: '' | escape }}"
         data-article-seniority="{{ page.seniority | default: '' | escape }}"
         data-article-technologies="{{ page.technologies | join: ',' | escape }}">

  <div class="space-extra-small"></div>

  <div class="entry">
    {{ content }}
  </div>

  <br />
  {% include disqus.html %}
</article>