---
layout: career-layout
---

<article class="post"
         data-article-id="{{ page.url }}"
         data-article-name="{{ page.title | escape }}"
         data-article-category="career"
         data-article-url="{{ page.url | absolute_url }}"
         data-article-author="{{ page.author | default: site.name | escape }}"
         data-article-publish-date="{{ page.date | date: '%Y-%m-%d' }}"
         data-article-description="{{ page.content | strip_html | strip_newlines | strip | truncate: 200 | escape }}"
         data-article-company="{{ page.company | default: '' | escape }}"
         data-article-start-date="{{ page.date | date: '%Y-%m-%d' }}"
         data-article-end-date="{{ page.end | default: '' | escape }}"
         data-article-location="{{ page.location | default: '' | escape }}">

  <div class="space-extra-small"></div>

  <div class="entry">
    {{ content }}
  </div>

  <br />
  {% include disqus.html %}
</article>